.elementor-594 .elementor-element.elementor-element-3e1c2a1{--display:flex;--min-height:310px;--flex-direction:column;--container-widget-width:100%;--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--background-transition:0.3s;border-style:solid;--border-style:solid;border-width:1px 1px 1px 1px;--border-block-start-width:1px;--border-inline-end-width:1px;--border-block-end-width:1px;--border-inline-start-width:1px;border-color:#25345F;--border-color:#25345F;--border-radius:31px 31px 31px 31px;--margin-block-start:0px;--margin-block-end:0px;--margin-inline-start:0px;--margin-inline-end:0px;--padding-block-start:0px;--padding-block-end:30px;--padding-inline-start:0px;--padding-inline-end:0px;}.elementor-594 .elementor-element.elementor-element-3e1c2a1, .elementor-594 .elementor-element.elementor-element-3e1c2a1::before{--border-transition:0.3s;}.elementor-594 .elementor-element.elementor-element-6a92118{text-align:left;color:#FFFFFF;font-family:"Outfit-E", Sans-serif;font-size:16px;font-weight:400;line-height:18px;width:var( --container-widget-width, 90% );max-width:90%;--container-widget-width:90%;--container-widget-flex-grow:0;}.elementor-594 .elementor-element.elementor-element-6a92118 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 30px 0px 30px;}.elementor-594 .elementor-element.elementor-element-d4c285b{--display:flex;--background-transition:0.3s;--border-radius:31px 31px 31px 31px;--margin-block-start:0px;--margin-block-end:0px;--margin-inline-start:0px;--margin-inline-end:0px;--padding-block-start:0px;--padding-block-end:0px;--padding-inline-start:0px;--padding-inline-end:0px;--z-index:6;}.elementor-594 .elementor-element.elementor-element-4aaa20b img{width:100%;height:220px;object-fit:cover;object-position:center center;border-radius:31px 31px 31px 31px;}.elementor-594 .elementor-element.elementor-element-17fe2e0{--display:flex;--flex-direction:row;--container-widget-width:initial;--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--justify-content:space-between;--background-transition:0.3s;--margin-block-start:0px;--margin-block-end:0px;--margin-inline-start:0px;--margin-inline-end:0px;--padding-block-start:0px;--padding-block-end:0px;--padding-inline-start:30px;--padding-inline-end:30px;--z-index:7;}.elementor-594 .elementor-element.elementor-element-0afa3d8{text-align:left;}.elementor-594 .elementor-element.elementor-element-0afa3d8 .elementor-heading-title{color:var( --e-global-color-text );font-family:"Outfit-E", Sans-serif;font-size:20px;font-weight:800;}.elementor-594 .elementor-element.elementor-element-0afa3d8 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-594 .elementor-element.elementor-element-cc56a29 .elementor-icon-wrapper{text-align:right;}.elementor-594 .elementor-element.elementor-element-cc56a29.elementor-view-stacked .elementor-icon{background-color:#25345F;}.elementor-594 .elementor-element.elementor-element-cc56a29.elementor-view-framed .elementor-icon, .elementor-594 .elementor-element.elementor-element-cc56a29.elementor-view-default .elementor-icon{color:#25345F;border-color:#25345F;}.elementor-594 .elementor-element.elementor-element-cc56a29.elementor-view-framed .elementor-icon, .elementor-594 .elementor-element.elementor-element-cc56a29.elementor-view-default .elementor-icon svg{fill:#25345F;}.elementor-594 .elementor-element.elementor-element-cc56a29 .elementor-icon{font-size:28px;}.elementor-594 .elementor-element.elementor-element-cc56a29 .elementor-icon svg{height:28px;}.elementor-594 .elementor-element.elementor-element-cc56a29 > .elementor-widget-container{margin:0px 0px -10px 0px;padding:0px 0px 0px 0px;}.elementor-594 .elementor-element.elementor-element-eecd561{--display:flex;--justify-content:center;--align-items:flex-end;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );--background-transition:0.3s;--margin-block-start:0px;--margin-block-end:0px;--margin-inline-start:0px;--margin-inline-end:0px;--padding-block-start:0px;--padding-block-end:0px;--padding-inline-start:0px;--padding-inline-end:0px;}.elementor-594 .elementor-element.elementor-element-cac7c84 .elementor-icon-wrapper{text-align:right;}.elementor-594 .elementor-element.elementor-element-cac7c84 .elementor-icon{font-size:30px;}.elementor-594 .elementor-element.elementor-element-cac7c84 .elementor-icon svg{height:30px;}.elementor-594 .elementor-element.elementor-element-cac7c84 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-594 .elementor-element.elementor-element-cac7c84{width:auto;max-width:auto;}.elementor-594 .elementor-element.elementor-element-cac7c84.elementor-element{--align-self:flex-end;}@media(max-width:767px){.elementor-594 .elementor-element.elementor-element-3e1c2a1{--min-height:285px;--border-radius:20px 20px 20px 20px;}.elementor-594 .elementor-element.elementor-element-6a92118{font-size:15px;line-height:17px;}.elementor-594 .elementor-element.elementor-element-d4c285b{--border-radius:20px 20px 20px 20px;}.elementor-594 .elementor-element.elementor-element-4aaa20b img{border-radius:20px 20px 20px 20px;}.elementor-594 .elementor-element.elementor-element-0afa3d8 .elementor-heading-title{font-size:17px;}.elementor-594 .elementor-element.elementor-element-cc56a29 .elementor-icon{font-size:20px;}.elementor-594 .elementor-element.elementor-element-cc56a29 .elementor-icon svg{height:20px;}.elementor-594 .elementor-element.elementor-element-cac7c84 .elementor-icon{font-size:24px;}.elementor-594 .elementor-element.elementor-element-cac7c84 .elementor-icon svg{height:24px;}}/* Start custom CSS */.component-service:hover {
 background-color: #25345F; 
 padding: 0px;
 cursor: pointer;
}
.component-service:hover  .imagen-service {
 display: none;   
}

.component-service .icon-hover {
   display: none;  
}
.component-service:hover .icon-hover {
   display: block;  
   position: absolute;
   bottom: 20px;
   right: 20px;
}

.component-service:hover  .content-service {
    display: block;
    color: white !important;
    margin-top: 80px;
}

.component-service .content-service {
    display: none;
}
.component-service .title-service {
    position: absolute !important;
    bottom: 20px;
    display: flex;
}
.component-service h1.elementor-heading-title {

}
.component-service .title-icon{
    position: absolute;
    bottom: 20px;
}

.component-service:hover .title-icon{
    position: absolute;
    top: 30px;
}

.component-service:hover .title-service {
    position: absolute;
    top: 30px;
    color: #00DADA !important;
}

.component-service:hover h1.elementor-heading-title {
    background-color: transparent;
    color: #00DADA !important;

}

.component-service:hover div.elementor-icon {
 color: #fff !important;   
}/* End custom CSS */